<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>if_condition</title>
    <style>
        body
        {
             background-color: aqua;
        }
        h1
        {
            background-color: blue;
        }
        h2
        {
            color: darkorchid;
        }
    </style>
</head>
<body>
    <center>
    <h1>HIEST VALUE IN A AND B</h1>
    {% if a > b %}
        <h2>A value is max</h2>
    {% else %}
        <h2>B values is max</h2>
    {% endif %}
    </center>
</body>
</html>